<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>编辑文章 - Lumos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" href="/r/images/favicon.png"/>
    <link href="/r/plugins/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/r/plugins/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/r/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.css" rel="stylesheet">
    <link href="/r/plugins/vue-loading/vue-loading.min.css" rel="stylesheet">
    <link href="/r/css/style.min.css?v=v1.0" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/r/plugins/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="/r/plugins/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="fixed-left">
<div id="wrapper">
    <div class="topbar">
        <div class="topbar-left">
            <div class="text-center p-t-10" style="margin: 0 auto;">
                <div class="pull-left" style="padding-left: 10px;">
                    <a href="/admin/index">
                        <img src="/r/images/unicorn.png" width="50" height="50"/>
                    </a>
                </div>
                <div class="pull-left admin-title" style="padding-left: 10px;">
                    <span style="font-size: 28px; color: #2f353f; line-height: 50px;">Lumos Blog</span>
                </div>
            </div>
        </div>
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="">
                    <div class="pull-left">
                        <button type="button" class="button-menu-mobile open-left">
                            <i class="fa fa-bars"></i>
                        </button>
                        <span class="clearfix"></span>
                    </div>

                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li class="dropdown">
                            <a href="index.html" class="dropdown-toggle profile" data-toggle="dropdown"
                               aria-expanded="true"><img
                                    src="https://cn.gravatar.com/avatar/c96e2c5494b240ed55874462fdddc097" alt="user-img"
                                    class="img-circle"> </a>
                            <ul class="dropdown-menu">
                                <li><a href="http://127.0.0.1:9000" target="_blank"><i class="fa fa-eye"
                                                                                       aria-hidden="true"></i> 预览站点</a>
                                </li>
                                <li><a href="/admin/profile"><i class="fa fa-sun-o"></i> 个人设置</a></li>
                                <li><a href="/logout"><i class="fa fa-sign-out"></i> 注销</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <div id="sidebar-menu">
                <ul>
                    <li>
                        <a href="/admin/index" class="waves-effect "><i class="fa fa-dashboard"
                                                                        aria-hidden="true"></i><span> 仪表盘 </span></a>
                    </li>
                    <li>
                        <a href="/admin/article/new" class="waves-effect "><i class="fa fa-pencil-square-o"
                                                                              aria-hidden="true"></i><span> 发布文章 </span></a>
                    </li>
                    <li>
                        <a href="/admin/articles" class="waves-effect  active"><i class="fa fa-list"
                                                                                  aria-hidden="true"></i><span> 文章管理 </span></a>
                    </li>

                    <li class="active">
                        <a href="/admin/pages" class="waves-effect "><i class="fa fa-file-text"
                                                                        aria-hidden="true"></i><span> 页面管理 </span></a>
                    </li>

                    <li>
                        <a href="/admin/attaches" class="waves-effect "><i class="fa fa-cloud-upload"
                                                                           aria-hidden="true"></i><span> 文件管理 </span></a>
                    </li>

                    <li class="has_sub">
                        <a href="javascript:void(0)" class="waves-effect "><i
                                class="fa fa-cubes"></i><span> 其他管理 </span><span class="pull-right"><i
                                class="fa fa-plus"></i></span></a>
                        <ul class="list-unstyled">
                            <li>
                                <a href="/admin/comments" class="waves-effect "><i class="fa fa-comments"
                                                                                   aria-hidden="true"></i><span> 评论管理 </span></a>
                            </li>
                            <li>
                                <a href="/admin/categories" class="waves-effect "><i class="fa fa-tags"
                                                                                     aria-hidden="true"></i><span> 分类/标签 </span></a>
                            </li>
                            <li>
                                <a href="/admin/template" class="waves-effect "><i
                                        class="fa fa-hashtag"></i><span> 编辑模板 </span></a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/admin/themes" class="waves-effect "><i class="fa fa-diamond"
                                                                         aria-hidden="true"></i><span> 主题设置 </span></a>
                    </li>

                    <li>
                        <a href="/admin/setting" class="waves-effect "><i class="fa fa-gear"
                                                                          aria-hidden="true"></i><span> 系统设置 </span></a>
                    </li>

                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="content-page">
        <div class="content">
            <div class="container">
                <link href="/r/plugins/tagsinput/jquery.tagsinput.css" rel="stylesheet">
                <link href="/r/plugins/toggles/toggles.css" rel="stylesheet">
                <link href="/r/plugins/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
                <link href="/r/plugins/mditor/css/mditor.min.css" rel="stylesheet"/>
                <link href="/r/plugins/summernote/0.8.2/summernote.css" rel="stylesheet">
                <link href="/r/plugins/dropzone/4.3.0/min/dropzone.min.css" rel="stylesheet">

                <style rel="stylesheet">
                    #tags_tagsinput {
                        background-color: #fafafa;
                        border: 1px solid #eeeeee;
                    }

                    #tags_addTag input {
                        width: 100%;
                    }

                    #tags_addTag {
                        margin-top: -5px;
                    }

                    .mditor .editor {
                        font-size: 14px;
                        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                    }

                    .mditor .backdrop, .mditor .textarea, .mditor .viewer {
                        font-size: 14px;
                    }

                    .markdown-body {
                        font-size: 14px;
                    }

                    .note-toolbar {
                        text-align: center;
                    }

                    .note-editor.note-frame {
                        border: none;
                    }

                    .note-editor .note-toolbar {
                        background-color: #f5f5f5;
                        padding-bottom: 10px;
                    }

                    .note-toolbar .note-btn-group {
                        margin: 0;
                    }

                    .note-toolbar .note-btn {
                        border: none;
                    }

                    #articleForm #dropzone {
                        min-height: 200px;
                        background-color: #dbdde0;
                        line-height: 200px;
                        margin-bottom: 10px;
                    }

                    #articleForm .dropzone {
                        border: 1px dashed #8662c6;
                        border-radius: 5px;
                        background: white;
                    }

                    #articleForm .dropzone .dz-message {
                        font-weight: 400;
                    }

                    #articleForm .dropzone .dz-message .note {
                        font-size: 0.8em;
                        font-weight: 200;
                        display: block;
                        margin-top: 1.4rem;
                    }
                </style>
                <div id="app" class="row" v-cloak>
                    <loading :active.sync="isLoading" :can-cancel="true"></loading>
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">编辑文章</h3>
                            </div>
                            <div class="panel-body">
                                <input type="hidden" id="attach_url" value="/"/>

                                <form id="articleForm">
                                    <input type="hidden" v-model="article.cid"/>
                                    <input type="hidden" v-model="article.status"/>
                                    <input type="hidden" v-model="article.allowComment"/>
                                    <input type="hidden" v-model="article.allowFeed"/>
                                    <input type="hidden" v-model="article.fmtType"/>

                                    <div class="form-group col-md-6" style="padding: 0 10px 0 0;">
                                        <input class="form-control" placeholder="请输入文章标题（必须）" v-model="article.title"
                                               required/>
                                    </div>

                                    <div class="form-group col-md-6" style="padding: 0 0 0 10px;">
                                        <input class="form-control" placeholder="自定义访问路径，如：my-first-article  默认为文章id" v-model="article.slug"/>
                                    </div>

                                    <div class="form-group col-md-6" style="padding: 0 10px 0 0;">
                                        <input id="tags" type="text" class="form-control" placeholder="请填写文章标签" v-model="article.tags"/>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <v-select multiple v-model="article.selected" :options="categories"></v-select>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="form-group col-xs-12">
                                        <div class="pull-right">
                                            <button class="btn btn-purple btn-sm waves-effect waves-light switch-editor"
                                                    @click="switchEditor">
                                                切换为富文本编辑器
                                            </button>
                                        </div>
                                    </div>

                                    <div id="md-container" v-show="article.fmtType == 'markdown'"
                                         class="form-group col-md-12">
                                        <textarea id="md-editor"></textarea>
                                    </div>
                                    <div id="html-container" v-show="article.fmtType == 'html'"
                                         class="form-group col-md-12">
                                        <div class="summernote"></div>
                                    </div>

                                    <div class="form-group col-md-3 col-sm-4">
                                        <label class="col-sm-4">开启评论</label>
                                        <div class="col-sm-8">
                                            <div id="allowComment" class="toggle toggle-success"></div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3 col-sm-4">
                                        <label class="col-sm-4">允许Ping</label>
                                        <div class="col-sm-8">
                                            <div id="allowPing" class="toggle toggle-success"></div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3 col-sm-4">
                                        <label class="col-sm-4">允许订阅</label>
                                        <div class="col-sm-8">
                                            <div id="allowFeed" class="toggle toggle-success"></div>
                                        </div>
                                    </div>


                                    <div class="form-group col-md-3">
                                        <label class="col-sm-5">添加缩略图</label>
                                        <div class="col-sm-7">
                                            <div id="addThumb" class="toggle toggle-success"></div>
                                        </div>
                                    </div>

                                    <div id="dropzone-container" class="form-group col-md-12 hide">
                                        <div class="dropzone dropzone-previews" id="dropzone">
                                            <div class="dz-message">
                                                <p>可以为你的文章添加一张缩略图 ;)</p>
                                            </div>
                                        </div>
                                        <input type="hidden" name="thumbImg" id="thumbImg"/>
                                    </div>


                                    <div class="clearfix"></div>

                                    <div class="form-group col-md-6">
                                        <div class="text-left">
                                            <label class="col-sm-2 control-label"
                                                   style="line-height: 30px;">发布时间</label>
                                            <div class="col-sm-9 input-append date form_datetime">
                                                <input v-model="article.createdTime" style="width: 150px;" size="16"
                                                       type="text" readonly class="form-control" id="form_datetime">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <div class="text-right">
                                            <a class="btn btn-default waves-effect waves-light"
                                               href="/admin/article">返回列表</a>
                                            <button type="button" class="btn btn-primary waves-effect waves-light"
                                                    @click="publish('publish')">
                                                发布页面
                                            </button>
                                            <button type="button" class="btn btn-warning waves-effect waves-light"
                                                    @click="publish('draft')">
                                                存为草稿
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer text-right">
                    2019 © <a href="https://github.com/Nothing-to" target="_blank">Lumos</a>.
                </footer>
            </div>
        </div>
    </div>
</div>
<script src="/r/plugins/jquery/3.2.1/jquery.min.js"></script>
<script src="/r/plugins/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/r/plugins/md5/md5.min.js"></script>
<script src="/r/plugins/dashborad/detect.js"></script>
<script src="/r/plugins/dashborad/fastclick.js"></script>
<script src="/r/plugins/dashborad/wow.min.js"></script>
<script src="/r/plugins/dashborad/jquery.slimscroll.js"></script>
<script src="/r/plugins/limonte-sweetalert2/6.4.1/sweetalert2.min.js"></script>
<script src="/r/plugins/axios/axios.min.js"></script>
<script src="/r/plugins/vue/vue.min.js"></script>
<script src="/r/plugins/moment/moment.min.js"></script>
<script src="/r/plugins/vue-loading/vue-loading.min.js"></script>
<script src="/r/plugins/dashborad/jquery.app.js?v=v1.0"></script>
<script src="/r/js/base.js?v=v1.0"></script>

<script src="/r/plugins/tagsinput/jquery.tagsinput.min.js"></script>
<script src="/r/plugins/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="/r/plugins/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/r/plugins/jquery-multi-select/jquery.quicksearch.js"></script>
<script src="/r/plugins/mditor/js/mditor.min.js"></script>
<script src="/r/plugins/wysihtml5/0.3.0/wysihtml5.min.js"></script>
<script src="/r/plugins/summernote/0.8.2/summernote.min.js"></script>
<script src="/r/plugins/summernote/0.8.2/lang/summernote-zh-CN.min.js"></script>
<script src="/r/plugins/vue-select/vue-select.js"></script>
<script src="/r/plugins/jquery-toggles/2.0.4/toggles.min.js"></script>
<script src="/r/plugins/dropzone/4.3.0/min/dropzone.min.js"></script>
<script src="/r/plugins/to-markdown/3.1.0/to-markdown.min.js"></script>
<script src="/r/js/edit_article.js?v=v1.0"></script>
</body>
</html>